$pesticide-debug: FALSE;
@import "pesticide";

@import "normalize";
// @import "compass/css3/shared"; 
// @import "compass/utilities/general/hacks";
// @import "compass/css3/images"; 
/* @import "compass/css3/text-shadow"; */

$leftColumnWith:5%;

$colorBackground:rgb(28, 111, 149);// #FAFAFA;
$colorTurquoise:#43C6DB ;
$colorFontText:#FAFAFA; //#222222;

$sizeSmartPhone:25em; 		// 400px
$sizeSmallScreen:43.5em; 	// 696px
$sizeNormalScreen:47em;		// 752px
$sizeBigScreen:51.25;			// 820px

//$fontHeader:Helvetica,sans-serif;
//$fontBody: Helvetica,sans-serif;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html{
  overflow-y: scroll;
  text-size-adjust: 100%;
  	font-size: 18px;
  
  @media (max-width: 900px) {
  		html { font-size: 16px; }
  }
  @media (max-width: 400px) {
  		html { font-size: 14px; }
  }
}

body{
  background-color: $colorBackground;  
  //font-family: $fontBody;
  color: $colorFontText;
	// font-size: 1em;
}

mobileonly{
	display: none;
}

header{	
	//height: 2.3rem;
	text-align: center;
	//background-color: $colorTurquoise;
	
	
	h1 {
				font-size: 5rem;
				color: $colorBackground;
				margin: 0px;
		}
	@media (max-width: 320px) {
			h1 { 
					font-size: 2.8rem; 
				}
	}
}

.gradient{	
	background-color: #a1e6d4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(161, 230, 212)), to(rgb(28, 111, 149)));
	background-image: -webkit-linear-gradient(top, rgb(161, 230, 212), rgb(28, 111, 149));
	background-image: -moz-linear-gradient(top, rgb(161, 230, 212), rgb(28, 111, 149));
	background-image: -o-linear-gradient(top, rgb(161, 230, 212), rgb(28, 111, 149));
	background-image: -ms-linear-gradient(top, rgb(161, 230, 212), rgb(28, 111, 149));
	background-image: linear-gradient(top, rgb(161, 230, 212), rgb(28, 111, 149));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a1e6d4', EndColorStr='#1c6f95');
}

section{
	padding: 1em;
	//background-color: $colorBackground;
	> header {
		padding-left: 0.3em;
		padding-right: 0.3em;
		background-color: $colorFontText;
		color: $colorTurquoise;
		text-align: left;
		font-size: 2em;
		height: 1.5em;
	}
}


a{
	color: white;
	
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

nav{
	margin-top: 4em;
	padding: 0.2em;
	text-align: center;
}

img{
	border: none;
	max-width: 100%;
}

iframe{ // gmap
	margin: 0em;
	height: 400px;
	@media only screen AND (max-width: $sizeSmartPhone) {
		height: 8em;
	}	
}

@media only screen and (max-width: $sizeSmartPhone) {
	mobileonly{
		height: 1.7em;
		display: block;
		font-size: 1.0em;
		font-weight: 300;
		background-color: rgb(161, 230, 212);
		text-align: center;

		a{
			text-decoration: none;
			color: white;
			border: 1px solid white;	
			padding-left: 0.3em;
			padding-right: 0.3em;
			padding-bottom: 0.1em;
			margin-left: 0.2em;
	  }
  }
} 

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	// font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 1em .55em;
	// padding: top right bottom left;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em;
	border-radius: .2em;
	-webkit-box-shadow: 0 1px 2px rgba(255,255,255,.9);
	-moz-box-shadow: 0 1px 2px rgba(255,255,255,.9);
	box-shadow: 0 1px 2px rgba(255,255,255,.9);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}